body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 6px 1px;
    width: 100%;
    opacity: 1;
    box-sizing: border-box;
}

.navbar.hidden {
    transition: 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    position: absolute;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.toggle-menu {
    transition: transform 0.3s ease;
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-right: auto;
    padding: 1px 15px;
}

.toggle-menu.active {
    transform: rotate(90deg);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu.active {
    display: block;
    margin-left: -1px;
}

.dropdown-menu a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #555;
}

.long-box {
    height: 2000px;
    background: linear-gradient(to bottom, #f1f1f1, #000000); /* Optional: adds a gradient background for better visibility */
}
